<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/resume.css">
    <title>Resume</title>
</head>
<body>
    <div class="zero">
    <nav>
        <div class="hii">
        <label class="logo">Abhishek Singh</label>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Ms</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="#special">special</a></li>
        </ul>
        </div>
    </nav>
    </div> 
    <section id="home">  
      <a href="#home"></a>
      <img class="firstimg" src="/images/WhatsApp Image 2023-12-24 at 22.37.56.jpeg" alt="oops image can not be loaded">
      <div class="intro">
      <p>Hello,i'm</p>
      <h1>Abhishek Singh</h1>
      <h4>Backend Developer</h4>
      </div>
    </section>
   <section id="about">
    <a href="#about" class="arrow"></a>
    <div class="abott">
        <p>Get To Know More</p>
        <h1 id="nine">About Me</h1>
    </div>
    <div class="container">
    <img class="secondimg" src="/images/WhatsApp Image 2023-12-24 at 22.31.03.jpeg" alt="oops image can't be loaded">
    <!-- <div class="self">
        <img id="third" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgm7WQd1E4nUAL8JKrgk0Ck2OJdHHK-RaQu-wfQI3aJWENOVvCgWGOTQBs0bPkb4YSN_R14qUw9tR-OrFDfRzHGx1Ed7t-V99x1mfMPBbuQA8GLz8HL23lGBI0XDUQNlZH8qHnksUUbm2lWB6VoEVzBbc08Ks1dKN3nNlDu4AOxDbcn25JgjXgDC4lls5Cw/s16000/education.jpeg" alt="so sorry">
        <h3>Education</h3>
        <p>MSc.(Computer Sci.)|SPPUniversity|1st year = 7.3 SGPA </p>
        <p>BSc.(Computer Sci.)|SPPUniversity|72.59% | 2022</p>
        <p>HSC (12th)| 57.69% | 2019
        <p>SSC (10th)| 78.20% | 2017
    </div> -->
    <div class="skill">
        <h3>Technical Experties</h3>
            <p>Operating System : Windows 10/7/XP</p>
            <p>Front End        : Html,Css,JavaScript,Expressjs,Dom</p>
            <p>Back  End        : Python,Nodejs</p>
            <p>Data  Base       : Sql,Mongodb</p>
    </div>
    </div>
    <div class="add">
    <p>Hello, I'm Abhishek Singh, a passionate web developer and designer based in Kanpur,Uttarpradesh. With a background in Computer Science, I specialize in creating dynamic and user-friendly websites.</p>
    <p>I am proficient in a variety of programming languages and technologies, including HTML, CSS, JavaScript, and more. My goal is to combine functionality with aesthetics to deliver a seamless and enjoyable user experience.</p>
    <p>Outside of coding, I love watching  movies,and playing games.</p>
    </div>
    
      <table  border="2" class="number">
        <thead>
            <th>Sr.No</th>
            <th>Education</th>
            <th>School/University</th>
            <th>Passing Year</th>
            <th>Percentage</th>
        </thead>
        <tr>
            <td>1.</td>
            <td>SSC(10th)</td>
            <td>RLB International School</td>
            <td>2016</td>
            <td>95%</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>HSC(12th)</td>
            <td>D.D.E.C. Kanpur</td>
            <td>2018</td>
            <td>74%</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Btech CSE(IoT)</td>
            <td>Pranveer Singh Institute of Technology</td>
            <td>2020-2024</td>
            <td>73.76</td>
        </tr>
        
      </table>  
    
   </section>
   <section id="contact">
    <a href="#contact"></a>
    <div class="con">
        <p id="six">Get In Touch</p>
        <h1 id="seven">Contact</h1>
        <!-- <div class="fifty">
        <img id="five" src="email.png" alt="sorry">
        <a href="#">vishalpatil1361@gmail.com</a><br>
        <img id="ten" src="contact.png" alt="so so sorry">
        <a href="#">+919503969644</a><br>
        </div>
        <div class="forty">
        <img id="eleven" src="address.png" alt="oo my bad">
        <p>At Kavitgaon, Post- Sangavi2 ,Tal- Karmala, Dist- Solapur</p>
        </div> -->
    </div>
    <div class="containertwo">
        <div class="items1"><img id="five" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgUDAeNADY5y1YBYXAbDiyYsWl9KXKWPXAByzIjD9dfNsJTLey0du8RMTXoCImxLv5A_bQsTAlt1ALZ9XUOqi59hfhMFrHHoJHDjOrZ1UVveI7_OmTpx8x3zilxjBc9a2t-qlgKdVcmVHVChc59yanp2JME19H5Xc43w7pHuLjOFg1Kv0O7HSNxt7VyJcLU/s16000/email.png" alt="sorry"></div>
        <div class="items"><a href="#">abhi209304@gmail.com</a></div>
        <div class="items1"><img id="ten" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiPr2n9nZlt4AXXDpohR5zuq5CAtQ0KjJvcqRq-uVYvk1blbIJOhXIMRC-BBZyBbFN9x7MXCCnebkeLv88CMeGuJ0tLE3X2oJUuLGA3Bfxswoc5B3z1neBDmGQsMpRMWFS8qAy9_rGxeXxsZbg777soGTuCRAMq2KNNEpugRlB6L92ZNhmpi57QWTwQRqJV/s16000/contact.png" alt="so so sorry"></div> 
        <div class="items"><a href="#">+918957981759</a></div>
        <div class="items1 "><img id="eleven" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEis_M8BunTJEHLFbDn_cWL3iG0aZ7TJa0kGqsw2ZoJs_MfpwaDPNE4AfNLvBgtpEGFtNxcmK5a41rL8inLT-iEMN2RKxWrJ7EB-v-pcADkEQzwiABXpt7Y_xmOFcvZlyyWyO2t4ZjXcs95hXZxZ1QjcqZbYfB331sDxl898PFixS8XpCaKhIT7NCRtygEkj/s16000/address.png" alt="oo my bad"></div>
        <div class="items"><p>At Bajrang Nagar Rania, Kanpur Dehat</p></div> 
    </div>
   </section> 
   <section id="special">
    <a href="#special"></a>
    <img id="thank" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiOB-NksAAriMcRNcrZJya-QU0x_0Xl0XX2tX3KJQkilb7H75NBmDeHux8Bgpu4MFw2aOyB3YSwn2njxFtfN1AXM8YIadMgXIdGW__OapN0uDLdXPZwEnua6563Ujqu__ATAsPTOun6DtQZW1jmBdGxo7Nchw-5CVaeRoplG5fKLjZ5lYkZG-cv1NVTJrNO/s16000/thank.jpg" alt="oo my god">
    <!-- <h1 id="special">THANK YOU</h1> -->
   </section>
</html>